@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  scroll-padding-top: 5rem;
}

body {
  @apply bg-slate-50 text-slate-900;
}
